body {
    background-color: #1f1e1e;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1{
    font-size: 80px;
    margin: 20px 0;
    padding: 0;
    width: auto;
    height: auto;
    right: inherit;
    text-shadow: #1f1e1e 2px 2px 4px;
    text-align: center;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
}
#display {
    color: white;
    background-color: transparent;
    border: 2px solid #cccccc37;
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.Operator{
    border-radius: 100%;
    align-items: center;
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.Number{
    align-items: center;
    background-color: #383b3d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 90px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#allClearButton {
    border-radius: 100%;
    align-items: center;
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#equalsButton{
    border-radius: 100%;
    align-items: center;
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}